h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;

  &:not(:first-child) {
    margin-top: 60px;
  }
}

label {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 8px;
  letter-spacing: 5px;
  font-weight: 600;
  border-left: 1px solid white;
  padding-left: 10px;
  display: block;
}

.about {
  max-width:450px;
  margin: 70px auto;
  width:100%;
  color:white;
  font-size:20px;
  padding:0 25px;
}

.about a {
  &:hover {
    color: white !important;
  }
}

.about div {
  column-count: 3;
  column-gap: 20px;
  break-inside: avoid;
  margin-bottom: 20px;
}

.about strong {
  font-weight: 600;
}

.about p {
  line-height: 120%;
  margin-bottom: 20px;
  font-size:20px;
  break-inside: avoid;
}

.about summary {
  padding:20px;
  font-size:18px;
  border-bottom:1px solid white;
  border-top:1px solid white;
  margin-bottom:20px;
  border-radius:10px;
}

.about summary:hover {
  cursor:pointer;
}

.about details[open] summary {
  margin-bottom:0;
  border:1px solid white;
}
.about details[open] {
  font-size:24px;
}

.about details[open] p {
  padding:20px 20px 20px 41px;
  background:#171717;
  margin-bottom:15px;
}