header {
  padding: 60px 30px 30px;
  text-align: center;
  color: white;
  position: relative;
}


h1 {
  font-family: "Alfa Slab One", cursive;
  text-transform: uppercase;
}

h1 a:after {
  content: 'v1.3';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 122px;
  height: 56px;
  text-transform: lowercase;
  font-size: 12px;
  text-shadow: 0 0 0 grey;
  z-index: 999;
  letter-spacing: 0px;
  font-family: 'Rajdhani', sans-serif;

}

h1 a {
  font-size: 120px;
  transition: all 100ms linear;
  display: inline-block;
  transform: skewX(0deg);
  letter-spacing: -5px;
  background: #dedede;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  /* Credit goes to Giphy/A24 for the gif used */
  background-image: url(https://media.giphy.com/media/JHsos369mkc0M/giphy.gif);
  background-size: cover;
  background-position: center center;
  transition: all 300ms ease;
  position: relative;
  padding-top: 8px;
  line-height: 76%;
  filter: drop-shadow(15px 0 35px rgba(0,0,0,0.8));

  
  &:hover {
    transform: skewX(-15deg);
    letter-spacing: 2px;
    filter: drop-shadow(0 0 55px rgba(248, 50, 50, 0.7));
    text-shadow: 0 0 1px white;

    &:after {
      text-shadow: 0 0 0 white;
      font-weight: bold;
    }
  }

}


h2 {
  font-family: 'Rajdhani', sans-serif;
  padding-top: 20px;
  font-size:18px;
  letter-spacing: 0.5px;
  font-weight: 600;
  /* font-variant: small-caps; */
}


@media screen and (max-width:980px) {
  header {
    padding: 100px 30px 30px;
  }
}

@media screen and (max-width:768px) {
   h1 a {
    font-size:82px;
  }
}


@media screen and (max-width:568px) {}

@media screen and (max-width:490px) {
    h1 a {
   font-size:70px;

   &:hover {
    letter-spacing: -5px;
   }
 }

  h2 {
    text-align: center;
  }
}