header {
  padding: 30px;
  text-align: center;
  color: white;
}

h1 {
  font-family: "Alfa Slab One", cursive;
  text-transform: uppercase;
  padding-top: 30px;
}

h1 a {
  font-size: 120px;
  transition: all 100ms linear;
  display: inline-block;
  transform: skewX(0deg);
  letter-spacing: 5px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  /* Credit goes to Giphy/A24 for the gif used */
  background-image: url(https://media.giphy.com/media/JHsos369mkc0M/giphy.gif);
  background-size: cover;
  background-position: center center;
  -webkit-text-stroke: 2px white;
}

h1 a:hover {
  transform: skewX(-20deg);
  letter-spacing: 14px;
}

h2 {
  font-family: "Rajdhani", sans-serif;
  padding-top: 5px;
}

nav {
  font-family: "Rajdhani", sans-serif;
  margin: 0 auto;
  display: inline-block;
}

nav ul {
  display: flex;
}

nav a {
  color: white;
  display: inline-block;
  padding: 5px 15px;
  font-size: 18px;
}

nav a:hover {
  text-shadow: 0 0 5px #f42737, 0 0 10px #f42737, 0 0 15px #f42737,
    0 0 20px #ee5c68;
  color: #f0c4c8;
}
