header {
  padding: 60px 30px 30px;
  text-align: center;
  color: white;
  position: relative;
}


h1 {
  font-family: "Alfa Slab One", cursive;
  text-transform: uppercase;
}

h1 a:after {
  content: 'v1.2';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 122px;
  height: 56px;
  text-transform: lowercase;
  font-size: 12px;
  text-shadow: 0 0 0 grey;
  z-index: 999;
  letter-spacing: 0px;
  font-family: 'Rajdhani', sans-serif;

}

h1 a {
  font-size: 120px;
  transition: all 100ms linear;
  display: inline-block;
  transform: skewX(0deg);
  letter-spacing: -5px;
  background: #dedede;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  /* Credit goes to Giphy/A24 for the gif used */
  background-image: url(https://media.giphy.com/media/JHsos369mkc0M/giphy.gif);
  background-size: cover;
  background-position: center center;
  transition: all 300ms ease;
  position: relative;
  padding-top: 8px;
  line-height: 76%;
  filter: drop-shadow(15px 0 35px rgba(0,0,0,0.8));

  
  &:hover {
    transform: skewX(-15deg);
    letter-spacing: 2px;
    filter: drop-shadow(0 0 55px rgba(248, 50, 50, 0.7));
    text-shadow: 0 0 1px white;

    &:after {
      text-shadow: 0 0 0 white;
      font-weight: bold;
    }
  }

}


h2 {
  font-family: 'Rajdhani', sans-serif;
  padding-top: 20px;
  font-size:18px;
  letter-spacing: 0.5px;
  font-weight: 600;
  /* font-variant: small-caps; */
}


.menuTrigger {
  position: fixed;
  top: 60px;
  right: 50px;
  padding: 15px 20px;
  overflow: hidden;
  z-index: 105;
  cursor: pointer;
  transition: all 300ms ease;
  transform: skew(-5deg);
  display: flex;
  border: 1px solid #f42737;
  align-items: center;
  justify-content: center;

  &:after {
    content: '\f078';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding-left: 5px;
    font-size: 22px;
    position: absolute;
    width:fit-content;
    left: -15px;
    top: 10%;
    transform: translateY(-50%);
    opacity: 0;
    transition: all 300ms ease;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.9), 2px 2px 50px rgba(0,0,0,0.4);
    z-index: 99;
  }

  span {
    width: 0px;
    opacity: 0;
    font-size: 24px;
    font-weight: bold;
    transition: all 300ms ease;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    
  }

  i {
    font-size: 30px;
  }


  &:hover,
  &.open {
    padding: 15px 35px 15px 40px;
    // box-shadow: 0 0 15px 0 rgba(244, 39, 55, 0.7);
    background: #f42737;
    overflow: visible;
    // border-left: 6px solid white;
    border-right: 5px solid white;

    &:after {
      opacity: 1;
      right: -10px;
      top: 50%;
    }

    i {
      text-shadow: 0 0 15px rgba(255, 255, 255, 0.8) ;
    }

    span {
      width: 75px;
      opacity: 1;
    }
  }

  &.open {
    &:after {
      font-size: 25px;
      content: '\f00d';
    }
  }

  
}

article {
  overflow-y: scroll;
  max-height: 100%;
  // border-top: 1px solid #2b2b2b;
  // border-bottom: 1px solid #2b2b2b;
}

section {
  max-width: 800px;
  // outline: 1px solid #2b2b2b;
  width: 100%;
  padding: 50px 80px 50px 65px;
  max-height: calc(100vh - 122px);
  height: 100%;
  position: absolute;
  right: 82px;
  top: 122px;
  z-index: 103;
  transition: all 300ms ease;
  transform: translateY(-90px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &:after {
    content: '';
    transform: skew(-5deg) translateY(-150%) translateX(3px);
    z-index: -1;
    background: linear-gradient(to bottom, rgba(20, 20, 20,0.95),rgba(3, 3, 3,0.95));
    // background: #f42737;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.8);
    border-right: 5px solid white;
    border-bottom: 1px solid #3f3f3f;
    border-top: 1px solid #2b2b2b;
    border-left: 1px solid #2b2b2b;

    // border-left: 5px solid white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 300ms ease;
  }

  .active & {
    transform: translateY(0px);
    pointer-events: auto;
    opacity: 1;
    visibility: visible;

    position: fixed;
    // box-shadow: -3px -3px 0 white;

    &:after {
      transform: skew(-5deg) translateY(0) translate(0);
    }
  }
}

@media screen and (max-width:768px) {
   h1 a {
    font-size:82px;
  }
}


@media screen and (max-width:568px) {
  h1 a{
   font-size:70px;
 }

 h2 {
  padding-top: 15px;
  font-size:16px;
 }

 header {
    padding: 30px 30px 15px;
 }

 nav {
   top: 88px;

   a {
     transform:translateX(220px);
     margin-top: 5px;
   }
 }
 .menuTrigger {
   display: block;
 }
}

@media screen and (max-width:490px) {

  header {
    text-align: left;
    padding:0;
  }

  h1 a {
    font-size:64px;
    background-position: 0 50%;

  }
  
  h2 {
    text-align: center;
  }
}