.carSearch {
  position: absolute;
  top: 320px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  text-align: center;
  padding: 10px 15px;
  z-index: 99;
  transition: background-color 300ms ease, padding 300ms ease, max-width 300ms ease, width 300ms ease;
  
  &:hover {
    #clear-search {
      opacity: 0.2;
    }
  }
}

.fixed-nav .carSearch {
  top: 0;
  position: fixed;
  background: rgba(0,0,0,0.5);
  width: 100%;
  max-width: 100%;
}

.carWrapper {
  /* position: relative; */
  padding-top: 150px;

  // .carSearch:hover,
  // .carSearch:focus ~ .carGrid .cars {
  //   margin-bottom: 120px !important;
  // }
}


.carSearch input {
  background:#0e0e0e;
  border:none;
  color:white;
  padding:20px 20px 20px 68px;
  width:100%;
  max-width: 365px;
  font-size:20px;
  text-align: left;
  border-radius: 15px;
  font-family: 'Rajdhani', sans-serif;
  /* border-radius:10px; */
  box-shadow:0 3px 15px 1px rgba(0,0,0,0.4);
  transition: all 300ms ease;
  border-bottom:2px solid #5a080f;
}

.carSearch:hover input,
.carSearch:focus input,
.carSearch:hover input:focus {
  padding: 20px;
  border-radius: 0px;
  /* box-shadow:0px 6px 20px 1px rgba(0,0,0,0.6); */
  border-bottom:2px solid transparent;
}

.inputWrapper {
  max-width: 365px;
  margin: 0 auto;
  position: relative;
}

.inputWrapper::before, .inputWrapper::after {
  box-sizing: inherit;
  pointer-events: none;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index:0;
}

.inputWrapper::before, .inputWrapper::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.inputWrapper::before {
  top: 0;
  left: 0;
}
.inputWrapper::after {
  bottom: 0;
  right: 0;
}

input:focus {outline:0;}


.inputWrapper:hover::before, .inputWrapper:hover::after {
  width: 100%;
  height: 100%;
}
.inputWrapper:hover::before {
  border-top-color: white;
  border-right-color: white;
  transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}
.inputWrapper:hover::after {
  border-bottom-color: white;
  border-left-color: white;
  transition: border-color 0s ease-out 0.35s, width 0.25s ease-out 0.35s, height 0.15s ease-out 0.55s;
}

#clear-search {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 14px;
  opacity: 0;
  z-index: 999;
  cursor: pointer;
  padding: 5px 15px;
  height: 35px;
}


label {
  visibility: hidden;
  position: absolute;
  pointer-events: none;
}
@media screen and (max-width: 980px) {
  .carSearch {
    top: 360px;
  }
}


@media screen and (max-width:768px) {
  .carSearch {
    top: 300px;
  }
}

@media screen and (max-width:568px) {
  .carSearch {
  }

  .carSearch input {
    padding: 20px;
  }
}

@media screen and (max-width:490px) {


  .fixed-nav .inputWrapper {
    margin: 0;
}

}