.carSearch {
  position: absolute;
  top: 320px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 400px;
  width: 100%;
  text-align: center;
  padding: 10px 15px;
  z-index: 99;
  transition: background-color 300ms ease, padding 300ms ease, max-width 300ms ease, width 300ms ease;

  label {
    visibility: hidden;
    position: absolute;
    pointer-events: none;
  }
  
  &:hover {
    #clear-search {
      opacity: 0.2;
    }
  }
}

::placeholder {
  color: rgb(190, 190, 190);
}

.fixed-nav .carSearch {
  top: 0;
  position: fixed;
  background: rgba(0,0,0,0.5);
  width: 100%;
  max-width: 100%;
}

.carWrapper {
  padding-top: 150px;
}


.carSearch input {
  background:#0e0e0e;
  border:none;
  color:white;
  padding:21px 20px 21px 102px;
  width:100%;
  max-width: 365px;
  font-size:20px;
  text-align: left;
  border-radius: 13px;
  font-family: 'Rajdhani', sans-serif;
  /* border-radius:10px; */
  box-shadow:0 20px 25px -10px rgba(0,0,0,0.4);
  transition: all 300ms ease;
  border-bottom:2px solid #a51a26;
}

.carSearch:hover input,
.carSearch:focus input,
.carSearch:hover input:focus {
  padding: 21px 20px;
  border-radius: 0px;
  border-bottom:2px solid transparent;
}

.inputWrapper {
  max-width: 365px;
  margin: 0 auto;
  position: relative;
}

.inputWrapper::before, .inputWrapper::after {
  box-sizing: inherit;
  pointer-events: none;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index:0;
}

.inputWrapper::before, .inputWrapper::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.inputWrapper::before {
  top: 0;
  left: 0;
}
.inputWrapper::after {
  bottom: 0;
  right: 0;
}

input:focus {outline:0;}


.inputWrapper:hover::before, .inputWrapper:hover::after {
  width: 100%;
  height: 100%;
}
.inputWrapper:hover::before {
  border-top-color: #474747;
  border-right-color: #474747;
  transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}
.inputWrapper:hover::after {
  border-bottom-color: #474747;
  border-left-color: #474747;
  transition: border-color 0s ease-out 0.35s, width 0.25s ease-out 0.35s, height 0.15s ease-out 0.55s;
}

#clear-search {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 14px;
  opacity: 0;
  z-index: 999;
  cursor: pointer;
  padding: 5px 10px;
  height: 35px;
}

@media screen and (max-width: 980px) {
  .carSearch {
    top: 360px;
  }
}


@media screen and (max-width:768px) {
  .carSearch {
    top: 300px;
  }
}

@media screen and (max-width:568px) {
  .carSearch input {
    padding: 20px;
  }
}

@media screen and (max-width:490px) {
  .fixed-nav .inputWrapper {  
    margin: 0;
  }
}