footer {
  background-attachment: fixed;
  color:white;
  padding:30px 15px;
  font-size:14px;
  width:100%;
  text-align:center;
}

footer a {
  text-shadow: 0 0 5px #f42737, 0 0 10px #f42737, 0 0 15px #f42737, 0 0 20px #ee5c68;
  color: #f0c4c8;
}

footer a:hover {
  color:white;
}