.first {
  background-image: url("https://images.unsplash.com/photo-1449130015084-2d48a345ae62?ixlib=rb-0.3.5&s=bd50a2f97e21dc5e433217eec713ea15&auto=format&fit=crop&w=1953&q=80");
}

.second {
  background-image: url("https://images.unsplash.com/photo-1532974297617-c0f05fe48bff?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e786d9afafdce3d78f3126611e628383&auto=format&fit=crop&w=800&q=80");
}

.third {
  background-image: url("https://images.unsplash.com/photo-1503376780353-7e6692767b70?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b7a09871cc6c6262dabde21e05b8b3f1&auto=format&fit=crop&w=1950&q=80");
}

.fourth {
  background-image: url('https://images.unsplash.com/photo-1508291441195-8134f170336f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=85ec6d641fed07628e63f1d4778627b3&auto=format&fit=crop&w=1696&q=80');
}

.car-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px;
  max-width:1080px;
  margin: 0 auto;
}

.car {
  flex: 0 0 30%;
  padding: 30px;
  min-height: 300px;
  margin-bottom: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  color:white;
  font-family: "Alfa Slab One", cursive;
  text-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: all 300ms ease;
}

.car:hover {
  box-shadow:20px 20px 70px 0 rgba(0,0,0,0.6);
}

.car:hover .carCredit {
  opacity:1;
}

.car:hover .carSound {
  opacity:1;
}

.carSound {
  font-size:26px;
  position:absolute;
  top:-15px;
  left:-10px;
  opacity:0;
  transition: all 600ms ease-in-out;
}

.carText {
  font-size: 36px;
  position: absolute;
  bottom: -20px;
  left: -15px;
}

.carYear {
  font-family: 'Rajdhani', sans-serif;
  font-size:40px;
}
.carMake {
}
.carModel {
}

.carTrim {
  font-size:20px;
  color: #f42737;
}

.carCredit {
  position:absolute;
  right:10px;
  top:10px;
  font-size:14px;
  opacity:0;
  transition: all 600ms ease-in-out;
}
