@import '../App/Globals.scss';

.carGrid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  &:hover {
    > .car {
      opacity: 0.7;
    }
  }

  > .car:hover {
    opacity: 1;
  }
}

.car {
  flex: 0 0 30%;
  padding: 10px;
  min-height: 300px;
  margin-bottom: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  color:white;
  font-family: $primary-f;
  transition: all 500ms ease;
  // box-shadow:30px 30px 80px 0 rgba(0,0,0,0.7);
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);

  &:nth-last-child(3),
  &:nth-last-child(2),
  &:last-child {
    margin-bottom: 0;
  }
}

.car::before, .car::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index:-1;
  border: 3px solid transparent;
  width: 0;
  height: 0;
}

.car::before {
  top: 0;
  left: 0;
}
.car::after {
  bottom: 0;
  right: 0;
}

.car:hover::before, .car:hover::after {
  width: 100%;
  height: 100%;
}
.car:hover::before {
  border-top-color: #f42737;
  border-right-color: #f42737;
  transition: width 0.10s ease-out, height 0.10s ease-out 0.10s;
}
.car:hover::after {
  border-bottom-color: #f42737;
  border-left-color: #f42737;
  transition: border-color 0s ease-out 0.30s, width 0.20s ease-out 0.30s, height 0.10s ease-out 0.50s;
}

.car:hover,
.car:active {
  box-shadow: 0 0 40px 0 rgba(0,0,0,0.8),
              0 0 60px 0 rgba(0,0,0,0.8),
              0 0 80px 0 rgba(0,0,0,0.8),
              0 0 100px 0 rgba(0,0,0,0.8),
              0 0 120px 0 rgba(0,0,0,0.8);
  transform:scale(1.15);
  flex-grow:1;
  z-index:3;
  cursor: pointer;
}

.car:hover .carCredit {
  opacity:1;
}

.car:hover .carSound {
  opacity:1;
}

.car:hover .carModelLink {
  background: rgba(0,0,0,0.7);
  text-shadow: none;
}

.carModelLink {
  color: white;
  display: block;
  padding: 20px;
  position: relative;
  transition: all 300ms ease;
  text-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.car:hover .carModelLink:hover:before {
  opacity: 1;
  right: -25px;
}

.carModelLink:before {
  content: 'Go to car website ➞';
  position: absolute;
  bottom: -15px;
  font-family: 'Rajdhani', sans-serif;
  right: 30px;
  opacity: 0;
  color: white;
  padding: 7px 5px;
  font-size: 10px;
  width:fit-content;
  font-weight: bold;
  transition: all 300ms ease;
  background:rgba(#f42737, 0.9);

}

.car:hover .carModelLink:hover {
  background: rgba(255,255,255,1);
  color: black;
}

.car:hover .carModelLink:hover .carMake {
  border-color: black;
}

.carSound {
  font-size:26px;
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity:0;
  transition: all 600ms ease-in-out;
}



.carSound:hover audio {
  opacity:1;
}

.carSound audio {
  opacity:0.3;
  width:420px;
  display: none;
  transition: all 300ms ease;
  transform: scale(0.6);
}

.carSound audio::-webkit-media-controls-play-button {
  cursor:pointer;
}
.carText {
  font-size: 42px;
  position: absolute;
  bottom: -60px;
  transform-origin: left;
  left: -36px;
  transition: transform 300ms ease;
}

.car:hover .carYear {
  opacity: 1;
  margin-bottom: 5px;
}

.car:hover .carText {
  transform: scale(0.7);
}

.carYear {
  font-family: 'Bungee', sans-serif;
  font-size: 22px;
  padding: 6px 22px;
  margin-bottom: 30px;
  border-left: 3px solid #f42737;
  opacity: 0;
  transition: all 700ms ease;
}

.car:hover .carMake {
  margin: 6px 0;
}

.carMake {
  font-size: 24px;
  text-transform: uppercase;
  font-family: 'Bungee', sans-serif;
  width: fit-content;
  margin: 8px 0;
  padding: 1px 0;
  border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    transition: margin 300ms ease;
}
.carModel {
  
}

.car:hover .carModelLink:hover .carTrim {
  color: #f42737;
  transform: skew(0deg);
  text-shadow: 0 0 15px rgba(244, 39, 55,0.3);
} 

.car:hover .carTrim {
  margin-top: 6px;
  color: white;
  text-shadow: 0 0 15px #f42737,
  0 0 25px #f42737,
  0 0 45px #f42737;
  transform: skew(-15deg);
}

.carTrim {
  font-size:20px;
  margin-top: 5px;
  color: #f42737;
  transition: all 500ms ease;

  // -webkit-text-fill-color: transparent;
  // -webkit-background-clip: text;
  // background-image: linear-gradient(to left top, #f42737, #f54131, #f5552c, #f56729, #f47627);
  // background-image: linear-gradient(to left top, #f42737, #f53833, #f5452e, #f4512b, #f45c27);
}

.carCredit {
  position:absolute;
  right:0px;
  bottom:-30px;
  opacity:0;
  transition: all 300ms ease;
  text-align: right;
  padding: 12px 0 2px 12px;

  a {
    color:white;
    display:block;
    font-size:8px;
    padding: 1px 2px;

    &:hover {
      color:#2390da;
    }

    &::before {
      // font-family: "Font Awesome 5 Free";
      font-family: 'Rajdhani', sans-serif;
      font-weight: 900;
      opacity: 0.4;
    }

    &:first-child::before {
      content: "Sound from: ";
    }

    &:last-child::before {
      content: "Photo By: ";
    }

    &:empty {
      &::before {
        content: none;
      }
    }
  }
}

@media screen and (max-width:1250px) {
  .car {
    flex:0 0 48%;
    min-height: 320px;

    &:nth-last-child(3) {
      margin-bottom: 120px;
    }
  }

  .car:hover {
    transform:scale(1.1);
  }
}
@media screen and (max-width:680px) {
  .car {
    flex:0 0 100%;
    margin-bottom:90px;

    &:hover {
      transform: scale(1);
    }

    &:nth-last-child(2) {
      margin-bottom: 120px;
    }
  }

  .carSound {
    opacity: 1;
  }

  .carText {
    left: 0;

    &:hover {
      left: 0;
    }
  }
}