.Menu {
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  z-index: 999;
  transform: translateY(-79vh);
  transition: all 300ms ease;
  box-shadow: 0 5px 35px 0 rgba(0,0,0,0.7);
  background-image: linear-gradient(to left top, #f42737, #f53833, #f5452e, #f4512b, #f45c27);

  &:hover {
    transform: translateY(0vh);

  }
}