.Menu {
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 98;
  transform: translateY(-100vh);
  transition: all 300ms ease;
  box-shadow: 0 5px 35px 0 rgba(0,0,0,0.7);
  // background-image: linear-gradient(to left top, #f42737, #f42737, #f53833, #f5452e, #f4512b,);
  background: #f42737;

  &:hover {

  }

  .active & {
    transform: translateY(0vh);

  }
}

.menuTrigger {
  position: fixed;
  top: 20px;
  right: 30px;
  width: 60px;
  height: 60px;
  border: 2px solid #f42737;
  box-shadow: 0 0 12px 0 rgba(244, 39, 55, 1);
  padding: 20px;
  z-index: 99;
  cursor: pointer;
  transition: all 300ms ease;

  &:hover {    
    background: #f42737;
    i {
      text-shadow: 0 0 12px rgba(255,255,255,0.6);
    }

    ~ .Menu { 
    transform: translateY(-99vh);

      .active & {
        transform: translateY(0);
      }

    }
  }

  i {
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    transition: all 300ms ease;
    transform: translateY(-50%) translateX(-50%);
    color: white;
    text-shadow: 3px 3px 15px rgba(0,0,0,0.5);
  }

  div {
    transition: all 300ms ease;
    &:first-child  {
    transform: rotate(-23deg);

      i { 
        transform: translateY(-45%) translateX(-99%) rotateY(-180deg);
      }

    }

    &:last-child {
      transform: rotate(23deg);
      i {
        transform: translateY(-45%) translateX(-1%);    
      }
    }
  }


  &.open {
    background: rgb(27, 27, 27);
    height: 70px;

    div {
      transform: rotate(0deg) translateY(10px);
    }
  }
}

// nav {
//   font-family: 'Rajdhani', sans-serif;
// }

// nav ul {
//   display: flex;
//   align-content: flex-end;
//   justify-content: center;
  
// }

// nav ul li {
//   position: relative;
// }

// nav a {
//   color: white;
//   display: inline-block;
//   border: 1px solid transparent;
//   padding: 24px;
//   margin: 0 5px;
//   font-weight: bold;
//   font-size: 20px;
//     background: transparent;
//   transition: all 200ms ease-in-out;
//   box-shadow: 0px 0px 0px 0 #ec9da4; 

//   &:hover {
//     background: #f42737;
//   border: 1px solid white;

//   }
// }


// nav a:hover {
//   background: rgb(26, 26, 26);
//   box-shadow: -25px 0px 0px 0 #f42737;
//   color: white;
//   transform: translateX(0px);
// }

nav a:hover i {
}

/* nav ul li:nth-child(1) a:hover {
  text-shadow: 0 0 5px #f42737, 0 0 10px #f42737, 0 0 15px #f42737,
    0 0 20px #ee5c68;
  color: #f0c4c8;
}

nav ul li:nth-child(2) a:hover {
  text-shadow: 0 0 5px #ffbe44, 0 0 10px #ffbe44, 0 0 15px #ffbe44,
    0 0 20px #f5ec9c;
  color: #ece3c3;
}

nav ul li:nth-child(3) a:hover {
  text-shadow: 0 0 5px #30d454, 0 0 10px #30d454, 0 0 15px #30d454,
    0 0 20px #30d454;
  color: #c1eccb;
} */