.carPlayer {
  position: absolute;
  top: 0;
  left: 0;
  padding: 18px;
  width: 100%;
}

.progress-inner {
  background-color: #f42737;
  height: 100%;
  transition: width .2s ease-in;
}

.progress-container {
  background-color: rgba(238, 238, 238, 0.5);
  width: 100%;
  height: 15px;
  overflow: hidden;
  cursor: pointer;
}

.sb-soundplayer-timer {
  font-size: 13px;
  padding-bottom: 5px;
  text-shadow: 0 0 8px rgba(0,0,0,0.5);
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 5px;
  margin-bottom: 5px;
}

.rounded-left {
  border-radius: 3px 0 0 3px;
}

.sb-soundplayer-btn {
  width: 100%;
  height: 100%;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  
}

.sb-soundplayer-btn svg {
  width: 40px;
  height: 40px;
  margin: 20px;
  transition: opacity 300ms ease;

}

.sb-soundplayer-btn svg:hover {
  opacity: 0.85;
}


@media screen and (max-width:680px) {
  .sb-soundplayer-btn {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    padding: 0;
  }
}